<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0"  />
  </configSections>

  <log4net>
    <root>
      <level value="ALL" />
    </root>

    <logger name="SystemLogger">
      <level value="ALL"></level>
      <appender-ref ref="LogFileAppender"></appender-ref>
      <!--<appender-ref ref="ADONetAppender"></appender-ref>-->
    </logger>

    <logger name="ExceptionsLogger">
      <level value="ALL"></level>
      <appender-ref ref="ExceptionsLogFileAppender"></appender-ref>
    </logger>

    <logger name="ScheduledTaskLogger">
      <level value="ALL"></level>
      <appender-ref ref="ScheduledTaskLogFileAppender"></appender-ref>
    </logger>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--输出日志时自动向后追加-->
      <param name="appendToFile" value="true"/>
      <file value="LogFiles/log" />
      <param name="rollingStyle" value="Date"/>
      <datePattern value="''yyyy-MM-dd'.log'"/>

      <!--true表示当前最新日志文件名永远为file节中-->
      <param name="staticLogFileName" value="false"/>
      <!--设置日志文件的最大数量-->
      <maxbackupindex value="10"></maxbackupindex>
      <!--单个日志的最大容量-->
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <datePattern value="yyyyMMdd" />
        <!--<conversionPattern value="日期：%date 线程ID: [%thread] 级别： %-5level 功能名： %logger 消息： %n%m" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>

    <appender name="ExceptionsLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--输出日志时自动向后追加-->
      <param name="appendToFile" value="true"/>
      <file value="LogFiles/Exceptions/" />
      <param name="rollingStyle" value="Date"/>
      <datePattern value="''yyyy-MM-dd'.log'"/>
      <!--true表示当前最新日志文件名永远为file节中-->
      <param name="staticLogFileName" value="false"/>
      <!--设置日志文件的最大数量-->
      <maxbackupindex value="10"></maxbackupindex>
      <!--单个日志的最大容量-->
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <datePattern value="yyyyMMdd" />
        <!--<conversionPattern value="日期：%date 线程ID: [%thread] 级别： %-5level 功能名： %logger 消息： %n%m" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>

    <appender name="ScheduledTaskLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--输出日志时自动向后追加-->
      <param name="appendToFile" value="true"/>
      <file value="LogFiles/Scheduled/" />
      <param name="rollingStyle" value="Date"/>
      <datePattern value="''yyyy-MM-dd'.log'"/>
      <!--true表示当前最新日志文件名永远为file节中-->
      <param name="staticLogFileName" value="false"/>
      <!--设置日志文件的最大数量-->
      <maxbackupindex value="10"></maxbackupindex>
      <!--单个日志的最大容量-->
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <datePattern value="yyyyMMdd" />
        <!--<conversionPattern value="日期：%date 线程ID: [%thread] 级别： %-5level 功能名： %logger 消息： %n%m" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt;%n - %m%n" />
      </layout>
    </appender>

    <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
      <!--      定义几条存入数据库 有2条时才写入数据库，没有两条叫缓存      -->
      <bufferSize value="0" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="database=logdb;server=192.168.1.161,3345\SQL2005;User ID=sa;Password=00000" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

  </log4net>
</configuration>

