/* 公用 */
html {
    _background-attachment: fixed;
    _background-image: url(about:blank);
}
/* 正常链接 未访问 */
a { color: #666; cursor: pointer;}
/* 鼠标悬停 */
a:hover { color: #000; text-decoration: underline; }
body{background-color: #eee; font-family:"微软雅黑";}
.w788{ width:788px;}
/*提示图标*/
i.icoErr16,i.icoWar16,i.icoDou16,i.icoPro16,i.icoBul16,i.icoCor16,i.icoHor16,i.icoCor16gray,i.icoPro16yellow{ width:16px; height:16px; display:inline-block; vertical-align:middle; margin-right:3px; background:url(/trj/icon-tips.png) no-repeat; margin-right:3px;}
i.icoErr16{ background-position:0 0;}
i.icoWar16{ background-position:left -40px;}
i.icoDou16{ background-position:left -79px;}
i.icoPro16{ background-position:left -120px;}
i.icoBul16{ background-position:left -159px;}
i.icoCor16{ background-position:left -200px;}
i.icoCor16gray{ background-position:-37px -240px;}
i.icoHor16{ background-position:left -240px;} 
i.icoPro16yellow{ background-position:left -315px;} 
i.icoErr32,i.icoWar32,i.icoDou32,i.icoPro32,i.icoBul32,i.icoCor32,i.icoCor32gray,i.icoPro32yellow{ width:32px; height:32px; display:inline-block; vertical-align:middle; background:url(/trj/icon-tips.png) no-repeat; margin-right:3px;}
i.icoErr32{ background-position:right top;}
i.icoWar32{ background-position:right -40px;}
i.icoDou32{ background-position:right -79px;}
i.icoPro32{ background-position:right -120px;}
i.icoBul32{ background-position:right -159px;}
i.icoCor32{ background-position:right -200px;}
i.icoCor32gray{ background-position:right -269px;}
i.icoPro32yellow{ background-position:right -315px;} 
i.icoErr24,i.icoWar24,i.icoDou24,i.icoPro24,i.icoBul24,i.icoCor24,i.icoCor24gray,i.icoPro24yellow{ width:24px; height:24px; display:inline-block; vertical-align:middle; background:url(/trj/icon-tips.png) no-repeat; margin-right:3px;}
i.icoErr24{ background-position:-30px 0;}
i.icoWar24{ background-position:-30px -40px;}
i.icoDou24{ background-position:-30px -79px;}
i.icoPro24{ background-position:-30px -120px;}
i.icoBul24{ background-position:-30px -159px;}
i.icoCor24{ background-position:-30px -200px;}
i.icoCor24gray{ background-position:-30px -269px;}
i.icoPro24yellow{ background-position:-30px -315px;} 
/*图标*/
.small-icon,.icon-part-bg{background: url(/trj/v6/small-icon.png) no-repeat; margin-right:3px; width:16px; display:inline-block; height:16px; vertical-align:middle; font-size:0;}
.small-icon-1{ background-position:-2px -2px;}
.small-icon-2{ background-position:-22px -2px;}
.small-icon-3{ background-position:-42px -2px;}
.small-icon-4{ background-position:-62px -2px;}
.small-icon-5{ background-position:-82px -2px;}
.small-icon-6{ background-position:-2px -22px;}
.small-icon-7{ background-position:-22px -22px;}
.small-icon-8{ background-position:-42px -22px;}
.small-icon-9{ background-position:-62px -22px;}
.small-icon-10{ background-position:-82px -22px;}
.small-icon-11{ background-position:-102px -22px;}
.small-icon-12{ background-position:-122px -24px; height:12px;}
.small-icon-13{ background-position:-143px -23px; height:14px; width:14px;}
.small-icon-14{ background-position:-1px -43px;height:14px; width:18px;}
.small-icon-15{ background-position:-22px -43px;height:14px;}
.small-icon-16{ background-position:-43px -43px;height:14px; width:14px;}
.small-icon-17{ background-position:-63px -43px;height:14px; width:14px;}
.small-icon-18{ background-position:-82px -43px;height:14px; width:16px;}
.small-icon-19{ background-position:-105px -45px;height:10px; width:11px;}
.small-icon-20{ background-position:-120px -41px;height:18px; width:20px;}
.small-icon-21{ background-position:-145px -45px;height:10px; width:9px;}
.small-icon-22{ background-position:-145px -5px;height:9px; width:9px;}
.small-icon-23{ background-position:-165px -5px;height:10px; width:10px;}
.small-icon-24{ background-position:-127px -8px;height:4px; width:7px; margin-right:0;}
.current .small-icon-24{ background-position:-107px -8px;}
.small-icon-25{ background-position:-164px -42px;width:12px; vertical-align:text-top;}
.small-icon-gou i{border:1px solid #999999; width:14px; height:14px; margin-right:5px; display:inline-block; vertical-align:middle; font-size:0;}
.small-icon-gou .cur i{background: url(/trj/v6/small-icon.png) -3px -64px;}
.small-icon-gou a:hover i{border-color:#f06612;}
.small-icon-gou .cur:hover i{ background-position:-23px -64px; border-color:#f06612;}
.small-icon-26{ background-position:right -40px;height:20px; width:20px; margin-right:0;}
.small-icon-27{ background-position:-42px -62px;height:16px; width:16px;}
.small-icon-28{ background-position:-82px -62px;height:16px; width:16px;}
/*图标区开始 */
.icon-part-bg{
	vertical-align:middle;
	display:inline-block;
	font-size:0;
	margin-right:3px;
}
.icon-part-calendar{ background-position:-62px -62px; height:16px; width:16px; display:inline-block;}
/* 提示数字 */
.i-tips-num {font-size:0; height:13px; display:inline-block;background: url(/trj/v6/small-icon.png) -192px -4px no-repeat; padding-left:4px; position:absolute;  top:-5px;}
.i-tips-num-amount{background: url(/trj/v6/small-icon.png) right -24px; vertical-align: top;color: #fff; font-size:12px; z-index:11; display:inline-block; line-height:1em; padding:0;  height:12px;  font-family: arial;  _font-size: 10px; padding-right:2px; }
a:hvoer .i-tips-num{text-decoration:none;}
/* 公用按钮 */
.ui-btn,.ui-btn-small,.ui-btn-big{
    color: #fff;
}
a.ui-btn:hover,a.ui-btn-small:hover,a.ui-btn-big:hover{
    color: #fff ;
    text-decoration: none;
    cursor: pointer;
}
.ui-btn,.ui-btn-small,.ui-btn-big{
    display: inline-block;
    *zoom: 1;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    border: 0;
    border-radius: 3px;
}
.ui-btn{
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
	font-size: 14px;
}
.ui-btn-small{
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
}

.ui-btn-big{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.ui-btn-gray{
    background-color: #ededed;
	color:#999;
}
a.ui-btn-gray:hover{
    background-color: #d8d8d8;
	color:#666;
}
.ui-btn-red{
    background-color: #e94e38;
}
a.ui-btn-red:hover{
    background-color: #f45842;
	color:#fff;
}
.ui-btn-blue{
    background-color: #76aedf !important;
}
a.ui-btn-blue:hover{
    background-color: #7cb7eb !important;
}
.ui-btn-orange{
    background-color: #f06612 !important;
}
a.ui-btn-orange:hover{
    background-color: #f67628 !important;
}
.ui-btn-wathetblue{background-color:#7989b8 !important;}

a.ui-btn-wathetblue:hover{
    background-color: #7989b8 !important;
}
.ui-btn-small-icon{ line-height:1em; padding-top:4px; height:20px;}
.ui-btn-same-icon{ line-height:1em; padding-top:7px; height:23px;}
/*公共导航开始*/
/*搜索导航*/
.part-nav-tab-a{ background:#f8f8f8; border-bottom:1px solid #ddd;}
.part-nav-tab-a li{ float:left; border-right:1px solid #dddddd;}
.part-nav-tab-a li a{ width:100px; display:block; height:30px; padding-top:14px; line-height:1em; text-align:center; font-size:14px;}
.part-nav-tab-a li a:hover{ text-decoration:none;}
.part-nav-tab-a li.current a{ color:#000; background:#fff; border-top:2px solid #838ba2; margin:-1px 0; padding:13px 0 1px; position:relative; z-index:11;}
.part-nav-tab-a .fn-right{ line-height:44px; margin-right:10px;}
/*总导航*/
/*头部导航开始*/
.logo-trjcn a{ background:url(/trj/logo.png) no-repeat; width:108px; height:40px; display:block;}
.logo-trjcn-a{ margin:15px 10px 0;}
.trjcn-title{  margin-top: 15px; font-size: 14px; line-height: 40px; float:left;}
.part-nav-all-a{ overflow:hidden; zoom:1;}
.part-nav-all-a li { float: left; height: 70px; margin-left:35px;}
.part-nav-all-a li a { display: block;color: #333; white-space: nowrap; font-size: 16px; line-height: 70px; text-align: center; -webkit-transition: all 375ms; transition: all 375ms; }
.part-nav-all-a li.current a,.part-nav-all-a li a:hover{ color: #dd3650; text-decoration: none;}
a.btn-invest-recruit:hover { text-decoration: none; color:#FFF; background-color:#f35b61;}
/*登录状态*/
.login-part a:hover,.user-trjcn-box.cur .user-trjcn{ color:#ff6633;}
.user-trjcn-box{ position:relative; display:inline-block;}
.user-trjcn{ position:relative; width:100px; display:inline-block;}
.user-trjcn-msg{ position:absolute; z-index:300;  left:0; top:0; display:none; padding-top:56px;}
.user-trjcn-box.cur .user-trjcn-msg{ display:block;}
.user-trjcn-msg i{top:-16px; left:50%; margin-left:-8px; z-index:10; border-bottom:8px solid #fff;}
.user-trjcn-msg ul{ box-shadow:0 0 10px #cccccc}
.user-trjcn-msg ul li{ border-top:1px solid #eee;}
.user-trjcn-msg ul li.user-trjcn-first{ border:0;}
.user-trjcn-msg ul li a{ height:34px; display:block; line-height:34px; padding-left:25px; width:80px; background:#fff; color:#666; font-size:14px;}
.user-trjcn-msg ul li a:hover{ text-decoration:none; background:#e94e38; color:#fff;}
/*头部导航结束*/
/*子导航*/
.child-nav-all{ background:#7f879f;}
.child-nav-all li{ float:left;}
.child-nav-all li a{ height:40px; line-height:40px; display:inline-block; padding:0 20px; color:#fff; font-size:14px;}
.child-nav-all li a:hover,.child-nav-all li.cur a{ background:#5d698c; text-decoration:none; color:#fff;}
/*公共导航结束*/
/*标题公共开始*/
.part-title-all-a{ padding:12px 0; overflow:hidden;zoom:1; background:#f8f8f8;}
.part-title-all-b{ padding-top:12px; overflow:hidden;zoom:1; background:#f8f8f8;}
.part-title-all-b td{ vertical-align:top;}
.part-title-all-b .ittext{ font-size:14px; font-weight:bold; color:#333; line-height:24px; display:block; margin-bottom:12px;}
.part-title-icon-bg{ height:24px; width:40px; text-align:center; line-height:1em;}
.part-title-icon-bg .small-icon-26{ margin-top:2px}
.part-title-icon-bg .small-icon-3{ margin-top:4px;}
.part-title-icon-bg .small-icon-20{ margin-top:3px;}
.part-title-icon-bg-red{ background:#ff6633;}
.part-title-icon-bg-blue{ background:#76aede;}
.part-title-icon-bg i{ margin-right:0; }
.part-title-nav-list a{ border:1px dashed #e6e6e6; background:#fff; color:#999; line-height:1em; height:18px; display:inline-block; margin:0 0 12px 10px; padding:4px 5px 0;}
.part-title-nav-list a:hover{ text-decoration:none; border-color:#f49871; color:#f49871;}
.part-title-nav-list .tit-close{ font-size:14px; margin-left:5px;}
/*标题公共结束*/
/*菜单选择导航开始*/
.part-choose-list-a article{ border-bottom:1px dashed #e9e9e9; }
.part-choose-list-a article p a:hover,.part-choose-list-a-cont p a.current{ color:#f06612; }
.part-choose-list-a aside{ width:100px; text-align:right; height:34px; line-height:34px; float:left;}
.part-choose-list-a-cont{ margin:0 145px 0 100px; height:34px; overflow:hidden; width:753px;}
.part-choose-list-a-cont.part-heigt-s{ height:auto;}
.part-choose-list-a section{ float:right; width:145px;}
.part-choose-list-a section a{ margin:5px 0;}
.part-multi-select{ width:36px; border:1px solid #ddd; height:19px; padding:3px 5px 0; display:inline-block; vertical-align:middle; border-radius:3px; line-height:1em; margin-right:10px !important;}
.part-choose-list-a-cont p a{ padding-top:2px; margin:5px 0; height:22px; display:inline-block; width:147px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*搜索栏*/
.part-search-all-a{ padding:12px 0 12px 40px;}
.part-search-all-a input{ border:1px solid #dfdfdf; padding:0 8px; line-height:26px; height:26px; width:200px; vertical-align:middle; margin-right:-1px; position:relative;}
.part-search-all-a button{ background:#7f879f; height:28px; border:0; width:50px; vertical-align:middle; display:inline-block; cursor:pointer;}
/*菜单选择导航结束*/
/* 底部帮助开始 */
/* 
.help-service-logo,.certificate .mod{background-image: url(/trj/v6/home-sprite.png); _background-image: url(/trj/v6/home-sprite-ie6.png); background-repeat: no-repeat; }
.help { padding: 30px 0; color: #ccc; background-color: #484b54; min-width: 1000px; }
.help a { color: #ccc; }
.help a:hover { color: #fff; }
.help-service { float: left; width: 210px; }
.help-service-logo { overflow: hidden; margin-bottom: 5px; width: 108px; height: 40px; background-position: left top; text-indent: -999em; }
.help-service-text { line-height: 22px; }
.help-service-call { font-size: 24px; line-height: 28px; font-weight: bold; font-family: arial; }
.help-group { float: left; width: 156px; }
.help-title,
.help-title a { color: #eee; font-weight: bold; font-size: 14px; }
.help-title span { margin-left: 5px; font-weight: normal; }
.help-item { height: 22px; line-height: 22px; white-space: nowrap; }
.help-item-wechat { padding-top: 5px; }
.help-item-wechat span { display: block; }
.help-group-icon .help-item { padding-top: 5px; line-height: 24px; }
.icon-help-iphone,
.icon-help-android,
.icon-help-wechat { display: inline-block; margin-right: 5px; width: 18px; height: 18px; margin-top: -2px; vertical-align: middle; }
.icon-help-iphone { background-position: 2px -170px; }
.icon-help-android { background-position: -19px -171px; }
.icon-help-wechat { background-position: -40px -170px; }
.copyright { padding: 15px 0; color: #eee; background-color: #3b3d45; min-width: 1000px; }
.copyright a { color: #eee; }
.copyright a:hover { color: #fff; }
.index-info { text-align: center; }
.index-info a { margin: 0 5px; }
.copyright-info { text-align: center; }
.certificate { padding-top: 5px; text-align: center; }
.certificate .mod { height: 26px; display: inline-block; *zoom: 1; margin-right: 5px; }
.certificate .mod-a { width: 38px; background-position: left -45px; }
.certificate .mod-b { width: 22px; background-position: -48px -45px; }
.certificate .mod-c { width: 73px; background-position: 0 -76px; }
.certificate .mod-d { width: 74px; background-position: 0 -108px; }
.certificate .mod-e { width: 70px; background-position: 0 -140px; } */
/* 底部帮助结束 */
/* 认证项目状态图标开始 */
.certification-icon-bg1,.certification-icon-bg2{ width:24px; height:24px; line-height:24px; text-align:center; color:#fff; margin-right:10px; display:inline-block; border-radius:3px; cursor:pointer; vertical-align:middle;}
.certification-icon-bg1{ background:#76aede;}
.certification-icon-bg2{ background:#ea4f39;}
.what-certification{ color:#ea4f39; border:1px solid #ea4f39; height:24px; line-height:24px; padding:0 10px; vertical-align:middle; margin-left:10px; display:inline-block; border-radius:5px;}
/* 认证项目状态图标结束  */
/* 资金列表开始 */
.part-money-it-a{ font-size:18px; color:#e93100; vertical-align:baseline;}
.part-money-list-a,.part-instituional-list{ padding:15px 20px; border-bottom:1px dashed #cccccc; line-height:24px;}
.part-money-list-a.cur{ background:#f8f8f8;}
.part-instituional-list.cur{ background:#f3f3f3 ;}
.part-money-text-list{ overflow:hidden;zoom:1;}
.part-money-text-list span{ width:180px; display:block;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float:left;}
.table-page-part-a{ padding:20px; margin:0;}
.table-page-part-b{ margin:30px 0 0 0 ;}
.table-page-part-c{ margin:0; padding-top:30px;}
/* 资金列表结束 */
/* 推荐开始 */
.recommends-all h6{ line-height:44px; height:44px; padding:0 10px; font-size:14px; background:#f8f8f8; position:relative;}
.recommends-box{ padding:10px; border-top:1px dashed #a5a5a5; margin-top:-1px;}
.recommends-box .itimg-box img,.money-recommends-box .itimg-box{ width:180px; display:block; height:180px;}
.recommends-box .itimg-box div{ position:absolute; bottom:0; height:24px; background:#000; opacity:0.4; left:0; width:100%; filter: alpha(opacity=40);}
.recommends-box .itimg-box p{ position:absolute; bottom:0; height:24px; line-height:24px; left:0; color:#fff; z-index:1; text-align:center; width:94%; padding:0 3%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* 推荐结束 */
/* 你可能感兴趣开始 */
.interested-list{ background:#fff; overflow:hidden; zoom:1; padding:15px 0;}
.interested-list li{ float:left; width:24.99%;}
.interested-list li section{ border-left:1px dashed #c3c3c3; padding:5px 20px; }
.interested-list li section h6{ height:44px;overflow:hidden; width:100%; margin-bottom:4px;}
.interested-list li section div{ overflow:hidden; height:36px; padding-top:4px;}
.interested-list li section div span{ padding:0 5px;}
/* 你可能感兴趣结束 */

/* 友情链接 */
.links { padding-bottom: 20px; margin-top: 40px; background-color: #fff; }
.links-title { float:left; padding-left: 14px; padding-top: 15px; width: 66px; height: 65px; font-size: 14px; line-height: 24px; text-transform: uppercase; color: #666; background-color: #f8f8f8; }
.links-info{ margin-left:120px;}
.links-title strong { display: block; color: #333; }
.links-info { padding: 15px 0; word-wrap: break-word; word-break: break-all; -webkit-text-size-adjust: none; white-space: normal; width: 870px; line-height: 26px; overflow: hidden; }
.links-info a { margin-right: 10px; white-space: nowrap; color: #666; display: inline-block; }
/* 友情链接 */
/*表单公共样式开始*/
/*下拉select Ie处理开始*/
.standard_select{display:inline-block;	border:solid 1px #ddd;	vertical-align:middle;	padding:2px ;*padding:6px ;	margin-right:5px; background:#fff;}
.select_shelter{display:inline-block;height:20px;*height:16px;	border:0px;	overflow:hidden;}
.select_shelter select{	*margin:-2px;padding:2px;*padding:6px ;	border:0px; color:#999;}
.select_shelter select:focus{ outline:0;}
.select-w246{ width:246px;*width:244px;}
.select-w264{ width:264px;*width:261px;}
.select-w182{ width:182px;*width:180px;}
.select-w126{ width:126px;*width:124px;}
.select-w116{ width:116px;*width:114px;}
.select-w80{ width:81px;*width:77px;}
/*下拉select Ie处理结束*/
.fieldsetMod{position:relative; border:1px solid #dadde9; padding:1px; margin-top:30px;}
.fieldsetMod h2{ position:absolute; padding:5px 10px; display:inline; font:bold 12px simsun; background-color:#fff; left:10px; top:-13px;_top:-11px;}
.fieldsetMod h2 .icoDot{ background:url(http://www.trjcn.com/static/images/user/sprite.png) no-repeat -260px -60px; width:5px; height:5px; display:inline-block; overflow:hidden; vertical-align:middle; position:relative; right:-10px;}
.fieldsetMod .fieldsetBd{ padding:20px; overflow:hidden;}
.part-fieldset { overflow:hidden; zoom:1; }
.part-fieldset aside{ width:16%; text-align:right; float:left; color:#666666; height:30px; line-height:30px;}
.part-fieldset aside span{ font-family:"宋体"; color:#e93100;}
.part-fieldset aside i{ background:#f1f1f1; height:30px; line-height:30px; width:30px;text-align:center; color:#999999; display:inline-block; margin-right:5px;}
.part-fieldset-min-textarea aside{ height:84px; line-height:84px;}
.part-fieldset-img aside{line-height:80px;}
.part-fieldset-img{ margin-bottom:14px;}
.part-fieldset section{ width:83%; padding:0; display:inline-block; color:#999;}
.part-fieldset-wh-a .part-fieldset aside{ width:20%;}
.part-fieldset-wh-a .part-fieldset section{ width:79%;}
.part-fieldset .part-fieldset-section{_height:expression(this.scrollHeight < 44 ? "44px" : "auto"); min-height:44px;}
.part-fieldset .part-fieldset-label{padding:4px 0; margin-bottom:13px;}
.part-fieldset .part-fieldset-text{ line-height:30px; height:30px; margin-bottom:13px;}
.part-fieldset-min-textarea section{_height:expression(this.scrollHeight < 98 ? "98px" : "auto"); min-height:98px;}
.part-fieldset-time i{  position: absolute; left: 8px;  margin-top: 7px;  z-index: 10;}
.part-fieldset-time input{ padding:0 0 0 29px !important;}
.part-fieldset .t_input{ height:28px; border:1px solid #ddd; background:#fff; line-height:28px; padding:0 10px; width:248px; margin-right:5px; display:inline-block; vertical-align:middle; position:relative;}
.part-fieldset section label{ display:inline-block; cursor:pointer; margin-right:10px; color:#666; }
.part-fieldset section label input{ vertical-align:middle; margin-right:3px;}
.part-fieldset .part-fieldset-msg{  padding: 5px 0; display: inline-block; vertical-align:middle;}
.part-fieldset .part-fieldset-msg em{ position: relative;  margin: 0 0 0 20px;  display: block;}
.part-fieldset .part-fieldset-msg i {  position: absolute;  top: 2px;  _top: 0;  left: -20px;}
.part-fieldset textarea{ vertical-align:middle; border:1px solid #ddd; height:72px; width:360px; padding:5px; display:inline-block; margin-right:5px;}
body placeholder{ white-space:nowrap !important;}
.part-fieldset-code{ border:1px solid #ddd; height:28px; text-align:center; display:inline-block; vertical-align:middle; line-height:28px; margin-left:-6px; width:147px;}
.part-fieldset-code:hover{ text-decoration:none;}
.part-fieldset-code-cur,.part-fieldset-code-cur:hover{ background:#ccc; color:#999}
.part-fieldset-pic-itimg img{ width:80px; height:80px; display:block;}
.part-fieldset-pic-ittext{ margin-left:100px;}
.part-fieldset-footer{ text-align:center; margin:40px 0;}
.part-fieldset-all-a{ border:1px solid #ddd; padding:20px;}
.part-fieldset-all-aside80 aside{ width:80px;}
.part-fieldset .t_input_disabled{ background:#f0f0f0;}
.part-footer-ml146{ margin-left:146px;}
.part-footer-ml96{ margin-left:96px;}
.part-footer-ml110{ margin-left:110px;}
.part-fieldset-multi-select{ cursor:pointer; border:1px solid #ddd; position:relative; height:28px; line-height:28px; padding:0 20px 0 10px; display:inline-block; vertical-align:middle; margin-right:5px;width:156px;overflow:hidden;}
.part-fieldset-multi-select i{  position: absolute;  width: 0;  height: 0;  overflow: hidden;  border: 6px dashed transparent;  right: 5px;   top: 12px;  border-top: 6px solid #ddd;}
.btn-more-case{ color:#cc3300; border:1px solid #cc3300; padding:2px 5px; border-radius:5px; display:inline-block;}
.btn-more-case:hover{ text-decoration:none;}
.tex-disabled-prat{ cursor:no-drop;vertical-align:middle; border:1px solid #ddd; height:72px; width:360px; padding:5px; display:inline-block; margin-right:5px; color:#999; overflow:auto; background:#f5f5f5;}
.input-disabled-prat{ cursor:no-drop;  height: 28px;  border: 1px solid #ddd;  line-height: 28px;  padding: 0 10px;  width: 248px;  margin-right: 5px;  display: inline-block;  vertical-align: middle;  position: relative; background:#f5f5f5;}
.part-fieldset-obj .uploadify{ display:inline-block !important; height:30px !important; width:80px !important; float:left; margin-right:5px;}
.part-fieldset-obj .uploadify-button{ background:url(/trj/btn-uploadify.png) no-repeat !important; height: 30px !important; width:80px !important;  line-height: 30px !important;  font-size: 14px;   display: inline-block !important; white-space: nowrap; text-align: center;  vertical-align: middle;  border: 0;  color: #999 !important ;}
.part-fieldset-obj .uploadify-button:hover{ background-position:0 -31px !important;}
.part-fieldset-obj object{ width:80px !important; height:30px !important;}
.part-fieldset-obj .ignore{ width:100% !important;}
.part-fieldset-obj .uploadify-queue{ display:inherit !important;}
.part-fieldset-obj #J_upload_file_view{ color:#666;}
.part-fieldset-obj  #J_upload_file_view a{ color:#3b4a82;}
.part-fieldset-obj  #J_upload_file_view a:hover{ color:#e93100;}
.ui-le-ht30 { line-height: 30px; }
.part-fieldset-brred{ border-color:#e93100 !important;}
/*表单公共样式结束*/
/* 弹出层公共开始 */
.popup-msg-a .part-popup-ittext{ font-size:14px; color:#333; line-height:32px;}
.popup-msg-a .ui-le-ht26{ line-height:26px;}
.popup-msg-a .ui-btn,.popup-msg-e .ui-btn{ width:130px;}
.popup-wh-ao{ margin:0 auto; overflow:hidden; zoom:1; text-align:left;}
.popup-wh-ao section{ margin-left:42px;}
.popup-msg-a .label-pointer{display: inline-block; overflow:hidden; zoom:1;}
.popup-msg-a .label-pointer p{margin-left: 15px; text-align: left; color:#999;}
.popup-msg-a .label-pointer input{ float:left; margin-top:2px;*margin-top:0;}
.part-popup-name{ display:block; margin:5px 0;}
.part-popup-name em{ font-size:18px; margin-right:10px; vertical-align:text-bottom; font-weight:bold;}
.popup-msg-a textarea{ width:95.3%; padding:2%; border:1px solid #ccc; height:8em; position:relative;}
.popup-msg-b .part-popup-po{ position:absolute;top:-33px; width:496px; text-align:right;}
.popup-msg-b .part-popup-pot{padding:10px 0; margin-bottom:20px; background:#f1f1f1; text-align:center;}
.popup-msg-b .part-fieldset aside{ font-size:14px; width:22%;}
.popup-msg-b .part-fieldset section{ width:77%;}
.popup-msg-b .part-fieldset textarea{ width:375px; margin-right:0;}
.popup-msg-b .part-fieldset .t_input{ width:242px;}
.popup-code-cur{ color:#ccc; cursor:no-drop; background:#ededed;}
.popup-code-cur:hover{ color:#ccc !important;background:#ededed !important;}
.popup-msg-c .part-fieldset aside{ font-size:14px; width:27%;}
.popup-msg-c .part-fieldset section{ width:72%;}
.popup-msg-c .part-fieldset{ overflow:inherit;}
.popup-msg-b .part-fieldset section .w370{ width:365px !important; margin-right:0;}
.popup-msg-d section i{ margin-top:8px;}
.popup-msg-d section .ittext{margin:0 140px 0 40px}
.popup-msg-e h6{ background:#f1f1f1; text-align:center; height:30px; line-height:30px; color:#ec7b68;}
.popup-msg-e .part-fieldset section{ width:230px;}
.popup-msg-e .part-fieldset aside{ width:100px;}
.popup-msg-e form{ width:340px; margin:15px auto; font-size:14px; color:#666;}
.popup-msg-e .part-dialog-btn{ border-top:1px dashed #333333; text-align:center; color:#666;}
.popup-msg-e .part-dialog-btn p{ margin:15px 0;}
.popup-msg-e-s .part-fieldset-text{ width:210px !important;}
.popup-msg-e-s .part-fieldset .t_input{ font-size:12px;}
.popup-msg-e-s .part-dialog-btn div{ margin:25px 0 5px 174px;}
.popup-msg-f aside img{ width:48px; height:48px; border:1px solid #dad9e9;}
.popup-msg-f section{ line-height:22px; width:250px;}
.pop-msg-label label{ width:186px; display:inline-block; margin:10px 0; cursor:pointer;}
.pop-msg-label label input,.pop-msg-label2 label input{ vertical-align:middle; margin-right:3px;}
.pop-msg-label130 label{ width:130px;}
.fieldset-select-arrow-box{ display:inline-block; vertical-align:middle; margin-right:10px; position:relative; z-index:110; background:#fff;}
.fieldset-select-arrow-box .t_input{  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right:30px; width:260px !important;}
.fieldset-select-arrow{ width:28px; height:28px; background:#f1f1f1 url(/trj/v6/go-bo.png) center no-repeat; position:absolute; top:1px; left:273px;}
.fieldset-select-arrow-box.cur .fieldset-select-arrow{  background:#f1f1f1 url(/trj/v6/go-to.png) center no-repeat;}
.fieldset-select-arrow-box ul{ position:absolute; top:28px;background:#fff; left:0; border:1px solid #ddd; display:none; overflow-y:auto; max-height:11em; width:300px; _height:expression(this.scrollHeight > 112 ? "112px" : "auto");}
.fieldset-select-arrow-box.cur ul{ display:block;}
.fieldset-select-arrow-box ul li{ width:100%;}
.fieldset-select-arrow-box ul li a{ height:28px; line-height:28px; display:inline-block; padding:0 4%;  width:92%;font-size:14px; color:#999;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.fieldset-select-arrow-box ul li a:hover{ background:#f1f1f1;}
.part-fieldset-msg-mr{ margin-right:80px;}
.pop-msg-label2{ color:#333; font-size:14px;}
.pop-msg-label2 label{ cursor:pointer; vertical-align:middle;}
.pop-msg-label2 nav{ border-bottom:1px dashed #5c5c5c; padding-bottom:5px;}
.pop-msg-label2 nav label{ font-weight:bold; margin-left:10px;}
.pop-msg-label2 article{ padding:10px 0 0 15px; color:#666666;}
.pop-msg-label2 article section{ float:left;  margin-bottom:5px; }
.pop-msg-label2 article .pop-primary-nav{width:158px;}
.pop-msg-label2 article .pop-primary-nav a{ display:block; padding-left:4px; height:22px; line-height:22px;}
.pop-msg-label2 article .pop-primary-nav a:hover{ background:#3b4b82; color:#fff; text-decoration:none;}
.pop-msg-label2 .pop-secondary-nav{ position: absolute; border:1px solid #e1e1e1; background:#f1f1f1; z-index:115254; top:13px; left:13px;}
.pop-msg-label2 .pop-secondary-nav label{ display:block; width:150px; padding:2px 4px 4px; }
.pop-msg-label2 .pop-secondary-nav label.cur{ background:#536290; color:#fff;}
.pop-msg-limit{ position:absolute; right:45px; top:-50px;}
.pop-msg-textarea{ border:1px solid #dce0e9; width:95.5%; padding:2%; height:60px; display:block;}
.part-fieldset aside span{ font-family:"宋体"; color:#e93100;}
/* 弹出层公共结束 */
/* 投递箱 新版本开始 */
.ico-deliver,.btn-deliver,.deliver-tab .tabMenu ul li.current a,.deliver-tab .tabMenu ul li.current a i{ background-image: url(http://www.trjcn.com/static/images/v5/new-deliver.png); background-repeat: no-repeat; background-color: transparent; border: 0; }
.deliver-dialog .publicForm{ margin: 0 auto; padding: 10px 0 10px 10px; }
.deliver-dialog .publicForm dl {padding: 7px 0;color: #666;}
.deliver-dialog .publicForm dl dt{ width: 160px; text-align: right; font:normal 14px/30px 'Microsoft Yahei',arial; float:left;}
.deliver-dialog .publicForm dl dt i{font-family:"宋体"; color:#e93100;}
.deliver-dialog .publicForm dl dd{ padding-left: 165px; font-family: 'Microsoft Yahei';  }
.deliver-dialog .publicForm dl dd textarea{font-family: 'Microsoft Yahei'; font-size: 14px; width:240px; height:80px; border:1px solid #e1e1e1; padding:5px; vertical-align:middle;}
.deliver-dialog .publicForm dl dd input.text{ font:normal 14px/30px 'Microsoft Yahei',arial; height: 18px; line-height: 18px; border:1px solid #e1e1e1; padding:5px;}

.deliver-tab{ border:0;}
.deliver-tab .tabMenu{ position: relative; width: 100%; background-image:none; background-color: #6472a6; border:none; height: 35px; padding-top: 5px; overflow: hidden; }
.deliver-tab .tabMenu ul{ *position:static; top: 5px;}
.deliver-tab .tabMenu ul li{ background-image: none; height: 35px; margin-right: 0; }
.deliver-tab .tabMenu ul li a{ display: block; float: left; font:bold 14px/35px 'Microsoft Yahei',arial; height: 35px; background-image: none; padding-left: 35px; }
.deliver-tab .tabMenu ul li a i{ display: block; float: left; height: 35px; line-height: 35px; color: #fff; background-image: none; padding-right: 35px; }
.deliver-tab .tabMenu ul li.current a{ height: 35px; background-position: left top; }
.deliver-tab .tabMenu ul li.current a i{ height: 35px; background-position: right -45px; color: #51619e; }
.deliver-tab .tabBox{width:706px; padding:20px; border-top:0;}
.deliver-dialog-cont{ width: 400px; margin:0 auto; padding:30px 0 10px 150px; }
.deliver-dialog-cont dt{ float: left; width: 145px; font:14px/35px 'Microsoft yahei',arial; color:#666; text-align: right; margin-left: -150px;}
.deliver-dialog-cont dd select{ margin: 0; font-family: 'Microsoft Yahei',arial; width:350px; padding:10px 5px; border:1px solid #e1e1e1; border-radius: 3px; }
.btn-deliver{text-shadow: 1px 1px 2px #333; cursor: pointer; display:inline-block; width: 140px; height: 38px; text-align: center; font:bold 18px/38px 'Microsoft Yahei',arial; color: #fff; background-position: left -385px; border:none; padding:0; }
a.btn-deliver:hover{ color: #fff; text-decoration: none;}
.deliver-box{ font-family: "Microsoft Yahei",simhei,arial; background-color: #f5f0e4; border:1px solid #fff; width: 708px; padding: 8px 20px; overflow: hidden; }
.ico-deliver{ display: block; width: 102px; height: 102px; float: left; background-position: left -777px; }
.deliver-box-info{ float:  left; width: 380px; padding-left: 15px; padding-top: 12px; }
.deliver-box-info span{ display: block; color: #ce8d4e; }
.deliver-box-info span.ft22{ font-size: 22px; font-weight: bold; }
.deliver-box-send{ font-size: 14px; padding-top: 10px; width: 160px; float: left; text-align: center;}
.deliver-box-send .btn-deliver{ background-position: left -591px; width: 150px; height: 42px; padding-right: 10px; margin: 5px 0; }
.deliver-dialog .aui_close {outline: none;top: 8px;position:absolute;right: 8px;width: 18px;height: 18px;line-height: 18px;text-align: center;text-indent: 0;font-size: 24px;text-decoration: none;color: #fff;z-index: 500;background: none;}
/* 投递箱 新版本结束 */

/* 最顶上的导航栏开始 */
.ui-bg-gary-f1 { background-color: #f1f1f1; }
.part-top-allnav{ height:30px;}
.part-top-allnav-l-a{ line-height:30px; color:#999;}
.part-top-allnav-l-a a{ margin:0 5px;}
.part-icon-mobile{  background: url(/trj/icon-mobile.png) no-repeat; width:9px; height:14px; display:inline-block; font-size:0; float:left; margin-right:5px;}
.part-top-allnav-list li{ float:left; }
.part-top-allnav-list .part-top-allnav-link{ display:block; line-height:14px; border-right:1px solid #cccccc; padding:0 7px; margin-top:8px; position:relative;z-index:122;}
.part-top-allnav-list .part-top-allnav-link a{ color:#666;}
.part-top-allnav-list .part-top-allnav-link a:hover{ color: #e93100;}
.part-top-allnav-list .part-top-allnav-link a i{ background:#ef4349; border-radius:13px; display:inline-block; line-height:13px; color:#fff; margin-left:5px; padding:0 2px;}
.part-top-allnav-pr{ z-index:120; position:relative;margin-left:-1px;} 
.part-top-allnav-pr.cur{ z-index:130;}
.part-icon-mobile-box{ padding:8px 7px; height:14px; line-height:14px; display:inline-block; color:#666; cursor:pointer; border-left:1px solid #f1f1f1; border-right:1px solid #f1f1f1;}
.part-top-allnav-pr.cur .part-icon-mobile-box{ background:#fff;  position:relative; border-color:#ddd; z-index:11;}
.part-sn-dropdown-bd{ border:1px solid #dddddd; padding:10px; background:#fff; position:absolute; top:29px; right:0;_right:-1px; color:#333; display:none;}
.part-top-allnav-pr.cur .part-sn-dropdown-bd{ display:block;}
.part-sn-dropdown-bd p{ width:144px;}
.part-sn-mobile-appdowm a{ width:142px; height:26px; border:1px solid #dddddd; border-radius:3px; line-height:26px; text-align:center; display:block;}
.part-mobile-qrcode{ background: url(/trj/mobile-qrcode.png) no-repeat ; width:144px; height:110px ; display:block; margin:5px 0;}
.part-top-allnav-l-b{ margin-top:3px;}
.part-top-allnav-l-b span{ vertical-align:middle; line-height:1em;}
.part-top-allnav-l-b a{background: url(/trj/icon-top-allnav.png) no-repeat ; width:24px; height:24px ; display:inline-block; vertical-align:middle;}
.part-top-allnav-l-b a.top-allnav-icon1{ background-position:left top;}
.part-top-allnav-l-b a.top-allnav-icon2{ background-position:-32px top;}
.part-top-allnav-l-b a.top-allnav-icon1:hover{ background-position:-62px top;}
.part-top-allnav-l-b a.top-allnav-icon2:hover{ background-position:right top;}
/*投资机构免费招募*/
.btn-invest-recruit-a { padding:0 5px; width: 100px; height:20px; margin-top:5px; text-align: center; line-height: 20px; font-size: 12px; color: #FFF; background-color: #ef4349; border-radius: 3px; display:inline-block !important; margin-left:5px;}
.btn-invest-recruit-a:hover{ color:#fff;}
/* 最顶上的导航栏结束 */
/* 公共的标题背景为红色开始 */
.part-title-red{ overflow:hidden; zoom:1;}
.part-title-red span{ background:#e94f37; height:20px; line-height:20px; padding:0 10px; color:#fff; float:left;}
/* 公共的标题背景为红色结束 */
/*图片滚动开始*/
.part-shuffling-list{ overflow:hidden; margin:0 auto; position:relative}
.part-shuffling-list ul{ overflow:hidden; zoom:1; width:10000px;}
.part-shuffling-list li{ float:left; position:relative; margin-right:10px;}
.part-shuffling-btn a{display:block;height:14px;width:7px; background:url(/trj/part-shuffling-btn.png) no-repeat; position:absolute;top:55px;  z-index:20; font-size:0;}
.part-shuffling-btn .sPrev{background-position:0 0; left:-20px;}
.part-shuffling-btn .sNext{background-position:-8px 0; left:952px;}
.part-shuffling-btn .sPrev:hover{background-position:0 -15px; }
.part-shuffling-btn .sNext:hover{background-position:-8px -15px; }
/*公共图片底部有文字背景*/
.part-pic-all .part-pic-text-bg{ background:#000; opacity:0.5; z-index:11; width:100%;filter: alpha(opacity=50); position:absolute; bottom:0; height:24px;}
.part-pic-all .part-pic-text{ line-height:24px; color:#fff; padding:0 4%; width:92%; text-align:center;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; z-index:12; position:absolute; bottom:0; height:24px;}
/*图片不同的尺寸调整写这下面*/
.part-shuffling-all-a .part-shuffling-list{ width:940px;}
.part-shuffling-all-a li{ width:180px;}
.part-shuffling-all-a li img{ display:block;width:180px; height:118px;}
/*图片滚动结束*/
/*没有内容的情况下开始*/
.part-not-cont{ text-align:center; padding-top:50px;}
.part-not-cont span,.part-not-cont a{ color: #e93100; }
/*没有内容的情况下结束*/
/* 浮动侧边栏 */
/* 图标 */  
#float-sidebar a.go-top, #float-sidebar a.go-service { background-image: url(/trj/v6/icon-sidebar.png); background-repeat: no-repeat; }
#float-sidebar { position: fixed; left: 50%; top: 500px; _position: absolute; _top: expression(documentElement.scrollTop + 500 + "px"); margin-left: 510px; width: 60px; height: 60px; }
#float-sidebar a { -webkit-transition: all 375ms; transition: all 375ms; display: block; overflow: hidden; margin-bottom: 3px; padding: 15px 15px; width: 30px; height: 30px; color: #fff; text-align: center; }
#float-sidebar a:hover { text-decoration: none; background-color: #609acb; }
#float-sidebar a.go-service { background-position: left -134px; }
#float-sidebar a.go-service:hover { background-position: left -64px; }
#float-sidebar a.go-top { display: none; background-position: right -134px; }
#float-sidebar a.go-top:hover { background-position: right -64px; }
#float-sidebar a.go-feedback { background:#76aede;}
#float-sidebar a.go-feedback:hover{background:#609acb}
/*公共广告图片开始*/
.banner-part .hd{ position:absolute; top:274px; left:50%; width:60px; margin-left:-30px; text-align:center; overflow:hidden; zoom:1; z-index:11;}
.banner-part .hd li{ background:#fff; float:left; font-size:0; width:10px; height:10px; margin-right:5px; display:inline-block; text-indent:-1000em; border-radius:10px; cursor:pointer;}
.banner-part .hd li.on{ background:#ef4349;}
.banner-part .bd ul{ width:100% !important;}
.banner-part .bd li{ display:none; width:100% !important;background-position:center !important; background-repeat:no-repeat !important;}
.banner-part .bd li a{ display:block; width:100%;}
.banner-part-a .bd li,.banner-part-a .bd li a{height:300px; }
/*公共广告图片结束*/